# Arquivos de ambiente
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Dados do PostgreSQL (volumes do Docker)
postgres_data/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Backup files
*.bak
*.backup
